Simple Logger.json
{
  "name": "Simple Logger",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form for Feedback",
        "formDescription": "Getting feedback for product X from our customers",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email_Id",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Age",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Positive"
                  },
                  {
                    "option": "Neutral"
                  },
                  {
                    "option": "Negative"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -768,
        -80
      ],
      "id": "8efaf4e2-3f52-4fbf-86e1-3f124cbcb75c",
      "name": "On form submission",
      "webhookId": "f3bed818-9d3c-48b0-9b53-1d7829007e78"
    },
    {
      "parameters": {
        "content": "## Workflow\n\n### Steps\n1.Using the form submission node getting the customer data\n2.Give discount to customers with positive feedback\n3.Save the form data to google sheets",
        "height": 192,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        -320
      ],
      "typeVersion": 1,
      "id": "313d9e8d-9679-4e06-b554-7603e9aac181",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_R9k6PCGIfzZcfOB7QYlwmerASVsBBzmWtXvOt8lLdE",
          "mode": "list",
          "cachedResultName": "Customer Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_R9k6PCGIfzZcfOB7QYlwmerASVsBBzmWtXvOt8lLdE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_R9k6PCGIfzZcfOB7QYlwmerASVsBBzmWtXvOt8lLdE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_Id": "={{ $json.Email_Id }}",
            "Name": "={{ $json.Name }}",
            "Age": "={{ $json.Age }}",
            "Feedback": "={{ $json.Feedback }}",
            "Give_Discount": "={{ $json.Give_Discount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email_Id",
              "displayName": "Email_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Give_Discount",
              "displayName": "Give_Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -112
      ],
      "id": "1e09a5cb-bebe-4afb-9def-966a69034bd4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QnD3ezmlnGmXyKV3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6d684549-e805-456e-848c-7f15076d5a64",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        -80
      ],
      "id": "d54917f9-0cdd-4bad-9f43-97dd18d130c2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff770256-45a9-43b5-b4fe-9d7abbe909c9",
              "name": "Give_Discount",
              "value": "Yes",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -176
      ],
      "id": "6eed28c1-02ee-47db-a2c2-6b00e79c1645",
      "name": "Discount_Yes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff770256-45a9-43b5-b4fe-9d7abbe909c9",
              "name": "Give_Discount",
              "value": "No",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        32
      ],
      "id": "44e1979e-938e-47d5-8361-d2a82a3b6e64",
      "name": "Discount_No"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discount_Yes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discount_No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discount_Yes": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discount_No": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cac44eb3-7518-49f0-8424-192b3de7e260",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9aa66471b663295917f536deaa06ad1ac3f1c38e468b332b9fccc6c91c0043d"
  },
  "nodeGroups": [],
  "id": "j7dbfNeCRgYN9onO",
  "tags": []
}